html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto',sans-serif;
	background-color: #f6f6f6;
}

.is-content {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.is-content .content {
	background-color: #ffffff;
	border-radius: 0.5rem;
}

.is-content .is-form .form-title {
	display: flex;
	justify-content: center;
	color: #636a6e;
}

.is-form {
	width: 430px;
	border-radius: .5rem!important;
	border: 1px solid #607d8b14;
	padding: 20px;
}

.is-form .age {
	width: 6.2rem;
}

.is-form .address {
	width: 24.1rem;
}

.is-form .phone {
	width: 17.3rem;
}

.form-group {
	padding: 0.5rem;
}

.form-group .input-form {
	padding: 0.5rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.3rem;
	margin: 0.2rem;
}

.form-group .input-form:focus {
	border-radius: 0.3rem;
	padding: 0.5rem;
	outline: 0;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-btn {
	display: flex;
	justify-content: center;
}

.form-btn .btn-send {
	padding: 0.5rem;
	border-radius: 01rem;
	margin: 0.2rem;
	outline: 0;
	background: white;
	border: 1px solid #ced4da;
	font-weight: bold;
	color: #607D8B;
	cursor: pointer;
}

.shadow {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}


